.filter-sidebar {
	width: var(--sidebar-width);
	background-color: white;
	height: calc(100vh - var(--header-height)); /* Altura completa menos header */
	position: sticky;
	top: var(--header-height); /* Se pega justo debajo del header */
	border-right: 1px solid #e0e0e0;
	padding: 2rem;
	overflow-y: auto; /* Scroll si hay muchos filtros */
	flex-shrink: 0; /* Evita que se encoja */
}

.filter-group {
	margin-bottom: 2rem;
}

.filter-group label {
	display: block;
	font-weight: 700;
	margin-bottom: 0.8rem;
	color: #444;
}

.input-text {
	width: 100%;
	padding: 0.8rem;
	border: 1px solid #ccc;
	border-radius: 6px;
}

.radio-wrapper,
.checkbox-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.radio-wrapper input,
.checkbox-wrapper input {
	margin-right: 10px;
	transform: scale(1.2);
	accent-color: #ff6600; /* Tu color naranja */
}

.radio-wrapper label,
.checkbox-wrapper label {
	font-weight: 400;
	margin-bottom: 0;
	cursor: pointer;
}
