#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* -- My classes -- */

#header {
  background-color: purple;
  display: flex; 
  width: 96vw; 
  gap: 50px;
  padding: 3vh 2vw;
  font-size: 20px;
}

#header a {
  color: white;
  transition: 0.3s;
}

#header a:hover {
  color: rgb(255, 77, 77);
  transform: scale(1.05);
}

.best-rated-row {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 3vw;
}

.card {
  background-color: white;
  border: 2px solid yellow;
  border-radius: 10%;
  width: 200px;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.1);
}

.card p {
  color: black;

}

.card-img {
  width: 200px;
  height: 130px;
  object-fit: cover;
  object-position: center;
}

.card-description {
  font-size: 12px;
  text-align: left;
  color: rgb(141, 141, 141) !important;
}